<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col col-4>
          <h4>ICB Louvor</h4>
        </ion-col>
        <ion-col col-4>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>