<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>
            <img src="../assets/img/icb-logo.png" />
          </ion-list-header>

          <ion-menu-toggle side="start" auto-hide="false" *ngFor="let p of appPages; let i = index;">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="links-list">
          <ion-list-header>Links</ion-list-header>

          <ion-menu-toggle side="start" auto-hide="false" *ngFor="let l of links; let i = index;">
            <ion-item (click)="openWithInAppBrowser(l.url)" lines="none" detail="false">
              <ion-icon slot="start" [ios]="l.icon + '-outline'" [md]="l.icon"></ion-icon>
              <ion-label>{{ l.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let t of tabs" (click)="goToUrl(t.url)">
        <ion-icon [name]="t.icon + '-outline'"></ion-icon><br>
        <ion-label>{{t.title}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>